<div class="content-home d-flex flex-direction-column gap-30">
  <span class="title">{{ "agora é possível!" | uppercase }}</span>

  <div class="d-flex align-items-center gap-30 section-info">
    <div>
      <h1 class="subtitle">
        Aprender <span class="color-info-tecnology">JavaScript</span> sem
        mimimi!
      </h1>
      <p>
        Inscreva-se para garantir nossas aulas que vão do básico ao avançado. As
        inscrições irão até 30/02/22
      </p>
      <button mat-raised-button class="button-subscribe">
        Inscreva-se agora
      </button>
    </div>
    <div class="image-section">
      <img src="../../../assets/rocket.gif" alt="Gif de um foguete decolando" />
    </div>
  </div>

  <div class="about-section">
    <div class="d-flex align-items-center gap-30">
      <div class="about-content">
        <span class="title">{{ "Quem vós fala?" | uppercase }}</span>
        <span class="subtitle">Hello world, ops {{ dataUser.name }}!</span>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi quis
          phasellus arcu dictum sed consequat sed lacus. Diam at maecenas tellus
          facilisis. Faucibus urna, ultrices sed amet curabitur auctor
          suspendisse etiam dolor. Nullam est donec semper nibh laoreet.
        </p>
        <p class="mt-30">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi quis
          phasellus arcu dictum..
        </p>
      </div>
      <div class="avatar-image">
        <img
          [src]="dataUser.avatar_url"
          alt="Mulher negra de pele clara, segurando um celular na mão de capinha azul, vestindo uma camisa de botão marrom claro"
        />
      </div>
    </div>
    <div>
      <span class="title">{{ "Me segue nas redes!" | uppercase }}</span>

      <div class="d-flex align-items-center icons gap-30 mt-20">
        <a href="http://www.linkedin.com/in/evelyn-helena" target="_blank">
          <fa-icon [icon]="faLinkedin" class="color-icon icon"></fa-icon>
        </a>
        <a href="https://www.instagram.com/evelynhelena13/" target="_blank">
          <fa-icon [icon]="faInstagramSquare" class="color-icon icon"></fa-icon>
        </a>
        <a
          href="https://www.youtube.com/channel/UCWp8rdXvy9nCX4MhSsfXJbw"
          target="_blank"
        >
          <fa-icon [icon]="faYoutube" class="color-icon icon"></fa-icon>
        </a>
        <a [href]="dataUser.html_url" target="_blank">
          <fa-icon [icon]="faSquareGithub" class="color-icon icon"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
