<mat-toolbar class="header-menu d-flex justify-content-center">
  <div
    class="d-flex justify-content-space-between align-items-center header-content container"
  >
    <div class="logo">
      <a routerLink="/home">
        <img
          src="../../../assets/logo.png"
          alt="Logo com o nome junior init escrito e com uma carinha no lugar da letra (o)"
        />
      </a>
    </div>
    <div class="menu-links">
      <ul>
        <li><a routerLinkActive="active" routerLink="/about">Sobre</a></li>
        <li>
          <a routerLinkActive="active" routerLink="/tutorial">Tutorial</a>
        </li>
        <li><a routerLinkActive="active" routerLink="/blog">Blog</a></li>
      </ul>
    </div>
  </div>
</mat-toolbar>
